@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-text antialiased;
}

::selection {
  background: rgba(89, 195, 247, 0.35);
}
